#map-id,
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  line-height: 18px;
  color: "gray";
  background-color: black;
}

.legend i {
  width: 30px;
  height: 10px;
  float: left;
  margin-right: 3pt;
  margin-left: 3pt;
}